Node Red.json
[{"id":"7a3681ce.4f0de","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18ad9310.a7ebbd","type":"http request","z":"7a3681ce.4f0de","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bd57f5d2-8cba-412c-abbc-37e680671827/deployments/9dea1c7f-928b-4362-acd6-14b54e6d7e82/online","tls":"","proxy":"","x":395,"y":91,"wires":[["a9632ab.f7a21d8","1bfecfad.84994"]]},{"id":"d503764f.518a28","type":"function","z":"7a3681ce.4f0de","name":"prediction","func":"var token=msg.payload.token;\nvar CGPA=global.get(\"CGPA\");\nvar GRE_Score=global.get(\"GRE_Score\");\nvar TOFEL_Score=global.get(\"TOFEL_Score\");\nvar University_rating=global.get(\"University_rating\");\nvar SOP=global.get(\"SOP\");\nvar LOR=global.get(\"LOR\");\nvar Research=global.get(\"Research\");\nmsg.payload={\"fields\":[\"CGPA\",\"GRE_Score\",\"TOFEL_Score\",\"University_rating\",\"SOP\",\"LOR\",\"Research\"],\"values\":[[CGPA,GRE_Score,TOFEL_Score,University_rating,SOP,LOR,Research]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":238.00000381469727,"y":168.00000208616257,"wires":[["18ad9310.a7ebbd"]]},{"id":"1bfecfad.84994","type":"debug","z":"7a3681ce.4f0de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":795,"y":91,"wires":[]},{"id":"65d9eb56.e291a4","type":"http request","z":"7a3681ce.4f0de","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bd57f5d2-8cba-412c-abbc-37e680671827/deployments/9dea1c7f-928b-4362-acd6-14b54e6d7e82/online","tls":"","proxy":"","x":435,"y":351,"wires":[["fd04e2f0.dd5c5","d503764f.518a28"]]},{"id":"d0e8a35d.ce88b","type":"inject","z":"7a3681ce.4f0de","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101,"y":223.00000381469727,"wires":[["8fffa276.0d62"]]},{"id":"8fffa276.0d62","type":"function","z":"7a3681ce.4f0de","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"f5816b5d-4f48-4425-a99d-79ef60154562\"\nvar password=\"24c4be1e-9c1e-434d-8179-2dc13c28bc24\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"CGPA\",msg.payload.GRE_Score)\nglobal.set(\"GRE_Score\",msg.payload.TOEFL_Score)\nglobal.set(\"TOFEL_Score\",msg.payload.University_Rating)\nglobal.set(\"University_Rating\",msg.payload.SOP)\nglobal.set(\"SOP\",msg.payload.LOR)\nglobal.set(\"LOR\",msg.payload.CGPA)\nglobal.set(\"Research\",msg.payload.Research)\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":311,"wires":[["65d9eb56.e291a4"]]},{"id":"a9632ab.f7a21d8","type":"function","z":"7a3681ce.4f0de","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":171,"wires":[["1bfecfad.84994","75aace0b.10601"]]},{"id":"fd04e2f0.dd5c5","type":"debug","z":"7a3681ce.4f0de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":371,"wires":[]},{"id":"ee5f3033.acd8","type":"ui_form","z":"7a3681ce.4f0de","name":"","label":"","group":"75704ae3.9a9044","order":0,"width":0,"height":0,"options":[{"label":"CGPA","value":"CGPA","type":"number","required":true},{"label":"GRE_Score","value":"GRE_Score","type":"number","required":true},{"label":"TOFEL_Score","value":"TOFEL_Score","type":"number","required":true},{"label":"University_Rating","value":"University_Rating","type":"number","required":true},{"label":"SOP","value":"SOP","type":"number","required":true},{"label":"LOR","value":"LOR","type":"number","required":true},{"label":"Research","value":"Research","type":"number","required":true}],"formValue":{"CGPA":"","GRE_Score":"","TOFEL_Score":"","University_Rating":"","SOP":"","LOR":"","Research":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":115,"y":411,"wires":[["8fffa276.0d62"]]},{"id":"75aace0b.10601","type":"ui_text","z":"7a3681ce.4f0de","group":"75704ae3.9a9044","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":715,"y":211,"wires":[]},{"id":"75704ae3.9a9044","type":"ui_group","z":"","name":"Prediction","tab":"ea3ddadd.788098","disp":true,"width":"6","collapse":false},{"id":"ea3ddadd.788098","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]